.outbox{
        border: solid 1px;
        height: 600px;
        background-color: beige;
        background-image: url(mainpage.png);
        background-repeat: no-repeat;
        background-size: 1250px 600px;
}
#nav{
    border: solid 1px white;
    height: 50px;
}
#in{
    color: rgb(51, 255, 0);
    font-size: 50px;
    text-decoration: none;
    padding-right: 25px;
    font-weight: bold;
}
#out{
    border: solid 1px;
    height: 450px;
    
}
#l{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    text-shadow: 3px 3px 5px white;
}